*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inter  ;
}
body{
    overflow-x: hidden;
    background-color: #e7e4e4;
}
nav{
    position: sticky;
    top: 0; 
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 164px;
    background-color: #fff;
    height: 80px;
}
#page-1{
    height:100vh;
    background-color: #FAFAFA;
 }
#logo{
    margin-top: 7px;
}
#nav a{
    text-decoration: none;
    color: #898989;
    padding: 0 15px;
    font-weight: 300;
    font-size: 12px;
}
#nav a:hover{
    color: #31CF71;
}
#container{
    display: flex;
    justify-content: space-around;
    padding: 200px 164px;
}
#container h1{
    padding-bottom: 20px;
    font-size: 3.5rem;
    font-weight: 300;
}
#container p{
    width: 400px;
    font-size: 1rem;
    color: #898989;
    padding-bottom: 30px;
    font-weight: 300;
    letter-spacing: -0.7px;
}
#left{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130% , -50%);
}

 #right img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10% , -40%);
 }
#page-2{
    
    background-color: #F4F5F7;
    padding: 100px 164px;
}
#p2-content{
    margin-bottom: 100px;
}
#p2-content h1{
    
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 40px;
}
#p2-content p{
    color: #898989;
    
    font-weight: 300;
}
#p2-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.p2-card h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 40px 0px;
    margin-bottom: 30px;
}
.p2-card p{
    color: #898989;
    font-weight: 300;
}
#page-3{
     background:#FAFAFA;
     padding: 100px 164px;
}
#p3-cards{
    
    margin-top: 80px;
    display: flex;
    gap: 20px;
} 
.p3-card{
    background-color: #fff;
   padding: 20px;
    width: 300px;
    border-radius: 10px;
   
}
.p3-card:hover{
     box-shadow: -24px 21px 40px 0px rgba(0,0,0,0.1);
     transition: 0.2s ease-in;
}
.p3-card a{
    color: black;
    text-decoration: none;

}
.p3-card a:hover{
    color: #31CF71;
}
.p3-card img{
   
    border-radius: 10px;
    width: 250px;
    margin-bottom: 40px;
}
.p3-card h4{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 30px 0px;
    margin-bottom: 30px;
}
#currency img{
height: 174px;
}
.p3-card p{
    color: #898989;
    font-weight: 300;
    font-size: .8rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2D314E;
    height: 200px;
    padding: 100px 164px;
}
#f-icons{
    margin:0px 20px;
}

#f-mid{
    display: flex;
    gap: 20px;
}
#f-mid a{
    text-decoration: none;
    color: #898989;
    padding: 0 15px;
    font-weight: 300;
    font-size: 12px;
}
#f-mid a:hover{
    color: #31CF71;
}
#f-mid-1,#f-mid-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#f-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#f-left p{
    color: #898989;
    font-weight: 300;
    font-size: 12px;
}
    

.btn{
    width: 162px;
    height: 42px;
    color: #fff;
    border-radius: 24px;
    border: none;
    background: linear-gradient(90deg, #31CF71 ,#2CBAC6);
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(90deg, #31cf7070 ,#2cb9c670);
}